#archive-section {
	width: 100%;
	margin-top: 50px;
	font-family: 'Special Elite', cursive;
	background: url("../images/bg/archive.JPG");
	background-size: cover;
	background-position-x: 55%;
	padding: 200px 20px 50px;
	box-sizing: border-box;
}

#archive-container {
	max-width: 1000px;
	margin: auto;
	width: 100%;
}

.archive-header-container {
	margin-bottom: 20px;
}

.archive-header {
	font-size: 30px;
	color: #ff6600;
	position: relative;
	display: inline-block;
	margin: 0 20px;
}

.archive-header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-bottom: 3px dotted #ff6600;
	bottom: -1px;
	left: 0;
}

#photos {
	margin-top: 30px;
	width: 100%;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
}

.archive-info-container {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.archive-info-container div {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#photos span {
	font-size: 40px;
	color: #ff6600;
}

.archive-gallery {
	width: 270px;
	height: 310px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #000;
	background-size: cover;
	margin: 12px 20px 12px 0;
}

#photos a h3 {
	text-align: center;
	padding: 10px;
	margin: 0;
	z-index: 1;
}

.archive-thumbnail {
	position: relative;
}

.archive-thumbnail::after {
	content: '\A';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 350px;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,0.8));
	background: -o-linear-gradient(bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.8));
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.8));
	background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.8));
	transition-duration: 0.2s;
}

.archive-thumbnail:hover::after {
	top: -60px;
}

#photos a img {
	height: 100%;
	width: auto;
}

#photos p {
	font-size: 24px;
	margin: 60px 0;
}

@media only screen and (max-width: 1001px) {
	.archive-info-container {
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.archive-info-container div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}
}