.single-product {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.single-product * {
	margin: 0;
	padding: 8px;
}

.single-product-info {
	font-size: 20px;
	width: 100%;
}