.single-gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.single-gallery * {
	margin: 0;
	padding: 8px;
}

.single-gallery-info {
	font-size: 20px;
	width: 100%;
}