<!DOCTYPE html>
<html lang="pl-PL">
    <head>
	<title>{% block title %}{% endblock %} < Admin < CZARNY ZIUTEK Z KILLERAMI</title>
		<meta charset="utf-8">
		<meta name="description" content="Oficjalna strona zespołu Czarny Ziutek z Killerami (CZZK).">
		<meta name="keywords" content="czzk czarny ziutek z killerami zespół kult kazik">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- FAVICON -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="{{ url_for('static', filename='images/favicon/browserconfig.xml') }}">
		<meta name="theme-color" content="#000000">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ url_for('static', filename='css/cms.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% block additional_style %}{% endblock %}
    </head>

    <body class="grey lighten-4">
        <nav class="blue darken-3 cms">
            <div class="nav-wrapper container">
                <a href="{{ url_for('CMS.index') }}" class="brand-logo"><img src="{{ url_for('static', filename='images/czzk-logo-white.svg') }}" alt="CZZK - Logo" /> <span class="fas fa-wrench orange-text"></span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('CMS.index') }}">Panel administratora</a></li>
                        <li><a href="{{ url_for('MainSite.index') }}">Powrót do strony</a></li>
                        <li><a href="{{ url_for('CMS.logout') }}">Wyloguj</a></li>
                    {% else %}
                        <li><a href="{{ url_for('MainSite.index') }}">Powrót do strony</a></li>
                        <li><a href="{{ url_for('CMS.login') }}">Zaloguj</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('CMS.index') }}">Panel administratora</a></li>
                <li><a href="{{ url_for('MainSite.index') }}">Powrót do strony</a></li>
                <li><a href="{{ url_for('CMS.logout') }}">Wyloguj</a></li>
            {% else %}
                <li><a href="{{ url_for('MainSite.index') }}">Powrót do strony</a></li>
                <li><a href="{{ url_for('CMS.login') }}">Zaloguj</a></li>
            {% endif %}
        </ul>

            {% block content %}{% endblock %}

        <footer class="page-footer grey lighten-4">
            <div class="footer-copyright blue-grey darken-3">
                <div class="container">
                CZZK &copy; 2019
                </div>
            </div>
        </footer>

        <!--	Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/cms-scripts.js') }}"></script>
        {% block additionalScript %}{% endblock %}
    </body>
</html>
