{% extends "cms/base.html" %}

{% block title %}Galerie{% endblock %}

{% block content %}
	<section>
		<div class="container section-container admin">

            <h3 class="black-text section-header">Galerie</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                           {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {% if category=='warning' %}
                                        <span class="fas fa-exclamation-triangle"></span>
                                    {% elif category=='success' %}
                                        <span class="fas fa-check-circle"></span>
                                    {% endif %}
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            <div class="add-item-container">
                <a href="{{ url_for('CMS.add_gallery') }}">
                    <span class="fas fa-plus-square green-text text-darken-3"></span>
                    <span class="green-text text-darken-3">Dodaj galerię</span>
                </a>
            </div>

            <div class="row white all-items-container">
                <ul class="collection">
                    {% for gallery in galleries.items %}
                        <li class="collection-item">
                            <div class="item-sub-data-container" title="{{ gallery.title }}">
                                <span class="item-sub-data">
                                    {{  gallery.title|truncate(40) }}
                                </span>
                            </div>

                            <div class="secondary-content">
                                <a href="{{ url_for('CMS.update_gallery', gallery_secure_title=gallery.secure_title, strona=galleries.page or 1) }}">
                                    <span class="fas fa-edit yellow-text text-darken-3"></span>
                                </a>
                                <a href="#delete-{{ gallery.id }}-modal" class="modal-trigger">
                                    <span class="fas fa-trash red-text text-darken-3"></span>
                                </a>
                            </div>
                        </li>


                        <div id="delete-{{ gallery.id }}-modal" class="modal">
                            <div class="modal-content">
                                <h5>Czy na pewno chcesz usunąć galerię {{ gallery.title }}?</h5>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect btn-flat">ANULUJ</a>
                                <form action="{{ url_for('CMS.delete_gallery', gallery_id=gallery.id) }}" method="POST" class="right">
                                    <button type="submit" class="waves-effect btn-flat red darken-3 white-text">USUŃ</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </ul>

                <div class="col s12 pagination-container">
                    <ul class="pagination">
                        {% if galleries.has_prev %}
                            <li class="waves-effect"><a href="{{ url_for('CMS.all_galleries', strona=galleries.prev_num) }}"><i class="material-icons">chevron_left</i></a></li>
                        {% else %}
                            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                        {% endif %}
                        {% for page_num in galleries.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                                {% if galleries.page == page_num %}
                                    <li class="active blue darken-3">
                                        <a href="{{ url_for('CMS.all_galleries', strona=page_num) }}">{{ page_num }}</a>
                                    </li>
                                {% else %}
                                    <li class="waves-effect">
                                        <a href="{{ url_for('CMS.all_galleries', strona=page_num) }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        {% if galleries.has_next %}
                            <li class="waves-effect"><a href="{{ url_for('CMS.all_galleries', strona=galleries.next_num) }}"><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
		</div>
	</section>
{% endblock %}