{% extends "base.html" %}
{% block title %}Kazik{% endblock %}
{% block additional_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
{% endblock %}
{% block content %}
	<section id="kazik-section" class="section">

        <div id="subsection-bg-1" class="subsection">
		</div>

		<article class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">KAZIK</h2>
                </div>

                <div class="chapter-text-container">
                    <p>
                        Pełne imię i&nbsp;nazwisko Kazika to&nbsp;Kazimierz&nbsp;Piotr&nbsp;Staszewski. Urodził&nbsp;się 12&nbsp;marca&nbsp;1963&nbsp;r. w&nbsp;Warszawie i&nbsp;jest&nbsp;jednym z&nbsp;najbardziej&nbsp;rozpoznawalnych, kreatywnych i&nbsp;barwnych polskich muzyków&nbsp;rockowych. To&nbsp;legendarny&nbsp;wokalista, kompozytor, autor&nbsp;tekstów, aranżer, ale&nbsp;przede&nbsp;wszystkim&nbsp;lider zespołu Kult, którego&nbsp;jest&nbsp;współzałożycielem i&nbsp;występuje w nim do dziś. Pisał&nbsp;też felietony na&nbsp;łamach Gazety&nbsp;Wyborczej. W&nbsp;maju&nbsp;2008&nbsp;roku ukazał&nbsp;się ich&nbsp;zbiór w&nbsp;wersji książkowej pt.&nbsp;„Niepiosenki”.
                    </p>
                    <p>
                        Pierwszym&nbsp;zespołem, w&nbsp;którym&nbsp;występował&nbsp;Kazik, był&nbsp;Poland działający w&nbsp;latach&nbsp;1979-1980. Zespół&nbsp;Kult powstał natomiast w&nbsp;lutym&nbsp;1982&nbsp;roku w&nbsp;składzie: Kazik&nbsp;Staszewski, Dariusz&nbsp;Gierszewski, Tadeusz&nbsp;Bagan i&nbsp;Piotr Wieteska. Muzycy&nbsp;obecną nazwę przyjęli w&nbsp;czerwcu tego&nbsp;samego&nbsp;roku, a&nbsp;pierwszy koncert zagrali 7&nbsp;lipca w&nbsp;klubie studenckim&nbsp;„Remont” w&nbsp;Warszawie, na&nbsp;który przyszły 52&nbsp;osoby. Kazik&nbsp;razem z&nbsp;Kultem nagrał takie przeboje jak "Baranek", "Gdy&nbsp;nie&nbsp;ma&nbsp;dzieci" czy&nbsp;"Madryt".
                    </p>
                    <p>
                        Artysta&nbsp;był także związany z&nbsp;zespołami Kazik&nbsp;Na&nbsp;Żywo, El&nbsp;Dupa, Buldog, Zuch&nbsp;Kazik oraz&nbsp;Kwartet&nbsp;ProForma. W&nbsp;swojej twórczości miesza style kilku gatunków muzycznych: od&nbsp;rocka, przez&nbsp;rap, hip hop, folk i&nbsp;jazz po&nbsp;muzykę&nbsp;awangardową i&nbsp;filmową. W&nbsp;każdym z&nbsp;nich czuł&nbsp;się dobrze i&nbsp;odnosił sukcesy. W&nbsp;stylistyce&nbsp;rocka (rock&nbsp;alternatywny, hard&nbsp;rock, punk&nbsp;rock) powstała większa&nbsp;część utworów&nbsp;muzyka. Gatunek&nbsp;ten miał „silny&nbsp;wpływ na subkulturę młodzieżową” —&nbsp;tak&nbsp;samo&nbsp;jak twórczość&nbsp;artysty. W&nbsp;końcu&nbsp;dzięki Kazikowi powstał taki zespół&nbsp;jak Czarny&nbsp;Ziutek z&nbsp;Killerami.
                    </p>
                </div>
            </div>
        </article>

        <div id="subsection-bg-2" class="subsection">
		</div>

		<article class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">KAZIK</h2>
                </div>

                <div class="chapter-text-container">
                    <p>
                        Uznanie&nbsp;fanów i&nbsp;krytyków muzyk zdobył także jako wybitny autor&nbsp;tekstów i&nbsp;znakomity obserwator&nbsp;życia społecznego i&nbsp;politycznego w&nbsp;naszym kraju, dzięki&nbsp;czemu&nbsp;dla wielu Polaków stał&nbsp;się&nbsp;autorytetem i&nbsp;rzecznikiem wobec władzy&nbsp;głośno&nbsp;wyrażającym niewypowiedziane&nbsp;zarzuty. Jego&nbsp;charakterystyczny&nbsp;głos i&nbsp;często prowokacyjne teksty są jedyne&nbsp;w&nbsp;swoim&nbsp;rodzaju. Przykładem&nbsp;jest&nbsp;tu utwór&nbsp;„100 000 000”, a&nbsp;szczególnie refren: „Wałęsa oddaj moje sto&nbsp;milionów”. Swego&nbsp;czasu kontrowersje wokół niego nabrały medialnego rozgłosu i&nbsp;wywołały narodowe&nbsp;dyskusje, które&nbsp;Kazik skwitował&nbsp;krótko: „Nigdy nie&nbsp;byłoby&nbsp;mnie&nbsp;stać na&nbsp;taką&nbsp;reklamę”.
                    </p>
                    <p>
                        Wiesław&nbsp;Weiss pisze w&nbsp;swojej książce: „Za&nbsp;każdym utworem zespołu kryją&nbsp;się inne inspiracje, inne&nbsp;wspomnienia, inne&nbsp;anegdoty. Czasem&nbsp;zabawne, kiedy&nbsp;indziej gorzkie i&nbsp;smutne, zawsze&nbsp;interesujące. Zazwyczaj&nbsp;nieznane, często&nbsp;opowiedziane po&nbsp;raz&nbsp;pierwszy”.
                    </p>
                </div>

                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">OJCIEC</h2>
                </div>

                <div class="chapter-text-container">
                    <p>
                        Szczególnie&nbsp;ważną osobą w&nbsp;życiu&nbsp;Kazika był&nbsp;jego ojciec Stanisław&nbsp;Staszewski (zm.&nbsp;w&nbsp;styczniu&nbsp;1973&nbsp;r.), po&nbsp;którym&nbsp;Kazik odziedziczył poczucie&nbsp;humoru widoczne w&nbsp;niektórych piosenkach&nbsp;artysty. Ojciec&nbsp;Kazika był&nbsp;duszą towarzystwa i&nbsp;wspaniałym&nbsp;bardem. Zostawił&nbsp;po sobie&nbsp;teksty, które&nbsp;Kazik&nbsp;bardzo&nbsp;cenił. Dlatego&nbsp;w&nbsp;hołdzie nagrał z&nbsp;Kultem dwie płyty —&nbsp;„Tata Kazika” i&nbsp;„Tata Kazika&nbsp;2” —&nbsp;na&nbsp;których&nbsp;wykorzystał dzieła&nbsp;ojca. W&nbsp;2014&nbsp;r.&nbsp;ukazała&nbsp;się biografia Stanisława Staszewskiego pt.&nbsp;„Tata&nbsp;mimo&nbsp;woli”, której&nbsp;autorami&nbsp;są&nbsp;Kazik Staszewski i&nbsp;Jarosław&nbsp;Duś.
                    </p>
                </div>
            </div>
        </article>

        <div id="subsection-bg-3" class="subsection">
		</div>

		<article class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">WARTOŚCI</h2>
                </div>

                <div class="chapter-text-container">
                    <p>
                        Kazik jest&nbsp;bardzo przywiązany do&nbsp;tradycyjnych wartości, szczególnie&nbsp;rodzinnych. Mówi&nbsp;o&nbsp;sobie: <i>„Etos&nbsp;rockmana wcale nie&nbsp;musi wykluczać przywiązania do&nbsp;tradycyjnych wartości. (…) Nie&nbsp;stoi to&nbsp;w&nbsp;sprzeczności z&nbsp;przywiązaniem do&nbsp;rodziny i&nbsp;wartości, jakie&nbsp;ta&nbsp;instytucja ze&nbsp;sobą&nbsp;niesie. To,&nbsp;że&nbsp;mam&nbsp;rodzinę, że&nbsp;mam swoje gniazdo (…) pozwoliło mi&nbsp;tak&nbsp;długo funkcjonować w&nbsp;tym, co&nbsp;robię”.</i>
                    </p>
                    <p>
                        Od&nbsp;1984&nbsp;roku żonaty z&nbsp;Anną&nbsp;Kamińską. Zadedykował&nbsp;jej piękną&nbsp;piosenkę o&nbsp;miłości i&nbsp;tęsknocie „Do&nbsp;Ani”. Para&nbsp;ma dwóch&nbsp;synów: Kazimierza i&nbsp;Jana. W&nbsp;2008 muzyk został dziadkiem, a&nbsp;obecnie ma&nbsp;dwie&nbsp;wnuczki. Jest&nbsp;przeciwnikiem narkotyków. Deklaruje&nbsp;się jako niewierzący, choć&nbsp;z ogromną potrzebą&nbsp;wiary. W&nbsp;młodości związany&nbsp;był ze&nbsp;Świadkami&nbsp;Jehowy, ale&nbsp;rozstał&nbsp;się po&nbsp;sugestiach o&nbsp;konieczności rezygnacji z&nbsp;muzyki.
                    </p>
                </div>
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">SUKCESY</h2>
                </div>

                <div class="chapter-text-container">
                    <p>
                        Kazik&nbsp;Staszewski w&nbsp;swojej długoletniej karierze był&nbsp;laureatem wielu&nbsp;nagród —&nbsp;m.in. Fryderyków oraz&nbsp;nagrody&nbsp;MTV. Poza&nbsp;wyjątkami (np.&nbsp;Paszportem&nbsp;„Polityki”), artysta&nbsp;ich nie&nbsp;odebrał.
                    </p>
                    <p>
                        Do&nbsp;tej&nbsp;pory nagrał ok.&nbsp;40&nbsp;płyt, z&nbsp;czego najwięcej, bo&nbsp;aż 15,&nbsp;z&nbsp;Kultem. Zdobył&nbsp;ogromną popularność w&nbsp;całej&nbsp;Polsce, ale&nbsp;z&nbsp;zespołem koncertował&nbsp;też m.in.&nbsp;w&nbsp;Brazylii, Stanach&nbsp;Zjednoczonych czy&nbsp;Niemczech. W&nbsp;sumie zagrali&nbsp;aż blisko dwa&nbsp;tysiące koncertów, a&nbsp;każdy z&nbsp;nich to&nbsp;3-godzinny&nbsp;występ o&nbsp;wysokim poziomie&nbsp;artystycznym. Na&nbsp;tym jednak nie&nbsp;koniec. Kazik&nbsp;nie&nbsp;zwalnia tempa i&nbsp;mimo wieku dał z&nbsp;Kultem w&nbsp;tym&nbsp;roku już 20 koncertów, a&nbsp;w&nbsp;perspektywie zbliżają&nbsp;się&nbsp;kolejne.
                    </p>
                    <p>
                        Kazik&nbsp;Staszewski za&nbsp;osiągnięcia w&nbsp;promowaniu polskiej&nbsp;kultury, postanowieniem prezydenta&nbsp;RP Bronisława&nbsp;Komorowskiego z&nbsp;30&nbsp;maja&nbsp;2014, został&nbsp;odznaczony Krzyżem&nbsp;Kawalerskim Orderu&nbsp;Odrodzenia&nbsp;Polski za&nbsp;wybitne zasługi w&nbsp;pracy twórczej i&nbsp;działalności&nbsp;artystycznej.
                    </p>
                </div>
            </div>

            <div class="links-container">
				<a href="{{ url_for('MainSite.about_music') }}" title="Nasza muzyka" class="underline-on-hover link-arrow"><span>źródła</span></a> {# TODO create this page #}
			</div>
        </article>

        <div id="subsection-bg-4" class="subsection">
		</div>
	</section>
{% endblock %}