{% extends "base.html" %}
{% block title %}CZZK{% endblock %}
{% block additional_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
{% endblock %}
{% block content %}

	<section id="about-us-section" class="section">

		<article id="subsection-bg-1" class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">{{ chapters[0].title }}</h2>
                </div>

                <div class="black-bg-container text">
                    <p><span>{{ chapters[0].content|safe }}</span></p> {# 'safe' for displaying html from database correctly #}
                </div>
            </div>
        </article>


		<article class="subsection" id="subsection-band-members">
			<div class="subsection-content">
				<h3>DATA POWSTANIA</h3>
				<span id="set-up-date" class="orange">03.2008 r.</span>

				<h3>SKŁAD</h3>
				<div class="band-members">
					<div>
						<img src="{{ url_for('static', filename='images/texts/bula.png') }}" alt="Buła - zdjęcie" />
						<span>Jacek Bogacz</span>
						<span class="orange">"BUŁA"</span>
						<span>gitara /</span>
						<span>od 03.2008</span>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/texts/choody.png') }}" alt="Choody - zdjęcie" />
						<span>Paweł Bogacz</span>
						<span class="orange">"CHOODY"</span>
						<span>wokal /</span>
						<span>od 03.2008</span>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/texts/dziadek.png') }}" alt="Dziadek - zdjęcie" />
						<span>Tomek Skiba</span>
						<span class="orange">"DZIADEK"</span>
						<span>perkusja /</span>
						<span>od 03.2015</span>
					</div>
					<div>
						<img src="{{ url_for('static', filename='images/texts/lechoo.png') }}" alt="Lechoo - zdjęcie" />
						<span>Leszek Czerwiński</span>
						<span class="orange">"LECHOO"</span>
						<span>gitara basowa /</span>
						<span>od 11.2010</span>
					</div>
				</div>

				<h3>GRALI Z NAMI</h3>
				<div class="band-ex-members">
					<span><span class="orange">Damian Skwarczyński</span> – perkusja/ od 04.2008r. do 05.2008r.</span>
					<span>Marcin Gorczyca <span class="orange">„GORCZYK”</span> – gitara basowa / od 04.2008r. do 06.2009r.</span>
					<span>Jacek Zacharzewski <span class="orange">„ZACHAR”</span> – perkusja / od 05.2008r. do 03.2015r.</span>
					<span>Maciej Lachowicz <span class="orange">„LACHOO”</span> – gitara basowa/ od 06.2009r. do 09.2010r.</span>
					<span><span class="orange">Igor</span> - gitara basowa/ od 09.2010r. do 11.2010r.</span>
					<span>Sebastian Krawiec <span class="orange">„WASYL”</span> – gitara/ od 04.2010r. do 02.2016r.</span>
				</div>
			</div>
		</article>

        <article id="subsection-bg-2" class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">{{ chapters[1].title }}</h2>
                </div>

                <div class="black-bg-container text">
                    <p><span>{{ chapters[1].content|safe }}</span></p>
                </div>
            </div>

            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">{{ chapters[2].title }}</h2>
                </div>

                <div class="black-bg-container text">
                    <p><span>{{ chapters[2].content|safe }}</span></p>
                </div>
            </div>

            <div class="links-container">
				<a href="{{ url_for('MainSite.about_music') }}" title="Nasza muzyka" class="underline-on-hover link-arrow"><span>nasza muzyka</span></a>
				<a href="{{ url_for('MainSite.multimedia_archive') }}" title="Archiwum" class="underline-on-hover link-arrow"><span>archiwum</span></a>
			</div>
        </article>
	</section>
{% endblock %}