{% extends "base.html" %}
{% block title %}Muzyka{% endblock %}
{% block additional_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" type="text/css">
{% endblock %}
{% block content %}

	<section id="music-section" class="section">

		<article id="subsection-bg-1" class="subsection">
            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">{{ chapters[0].title }}</h2>
                </div>

                <div class="black-bg-container text">
                    <p><span>{{ chapters[0].content|safe }}</span></p> {# 'safe' for displaying html from database correctly #}
                </div>
            </div>

        {% if albums %} {# if there are some albums, close first section, print albums and open third section #}
            </article>

            <article class="subsection" id="subsection-albums">
                <div class="subsection-content">
                    {% for year, group in albums %}
                        <div class="albums-year-header">
                            <h2 class="underline orange">{{ year }}</h2>
                        </div>
                        {% for album in group %}
                            <div class="album-container">
                                <div class="album-title-container">
                                    <h2 class="album-title">{{ album.title }}</h2>
                                </div>
                                <div class="album-photo">
                                    <img src="{{ url_for('static', filename='images/'+album.cover_file) }}" alt="album.title - okładka" />#}
                                </div>
                                <div class="album-description-container">
                                    {{ album.description|safe }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </article>

            <article id="subsection-bg-2" class="subsection">
        {% endif %}

            <div class="subsection-content">
                <div class="chapter-title-container">
                    <h2 class="chapter-title underline">{{ chapters[1].title }}</h2>
                </div>

                <div class="black-bg-container text">
                    <p><span>{{ chapters[1].content|safe }}</span></p>
                </div>
            </div>
        </article>
	</section>
{% endblock %}