{% extends "base.html" %}
{% block title %}{{ item.name }}{% endblock %}
{% block additional_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/merch.css') }}?v=2.1" type="text/css">
{% endblock %}

{% block content %}
<section id="product-section" class="section">
	<div id="product-container" class="subsection">

		<div class="header-container">
			<h2 class="orange underline">{{ item.name }}</h2>
		</div>

        <div class="back-button-container">
            <a href="{{ url_for('MainSite.multimedia_merch') }}" title="Gadżety" class="underline-on-hover link-back-arrow"><span>powrót do gadżetów</span></a>
        </div>

        <div id="product-info-container">
            <div id="product-photo">
                {% if not item.gif or item.gif == 'Brak animacji' %}
                    <img src="{{ url_for('static', filename='images/merch/'+item.jpg) }}" alt="{{ item.jpg }} - zdjęcie produktu" />
                {% else %}
                    <img src="{{ url_for('static', filename='images/merch/'+item.gif) }}" alt="{{ item.gif }} - animacja produktu" />
                {% endif %}
            </div>

            <div id="product-description" class="text black-bg-container">
            {% if item.price %}
                <div id="product-price">
                    <p>

                        <span><span class="price orange">Cena: </span>{{ item.price }} zł</span>
                    </p>
                </div>
            {% endif %}
                <p>
                    <span>{{ item.description|safe }}</span>
                </p>
            </div>
        </div>
    </div>

    {% if size_table %}
        <div class="subsection">
            <div class="size-table-container">
                {{ size_table.content|safe }}
            </div>
        </div>
    {% endif %}

    <div id="product-contact-form-container" class="subsection">
        <form method="post" action="{{ url_for('MainSite.send_message', page=request.endpoint, merch_item=item.short_name, type='merch') }}" id="product-contact-form" novalidate>
            {{ merch_form.csrf_token() }}
            <fieldset>
                <legend><h3>FORMULARZ KONTAKTOWY</h3></legend>
                <div class="text black-bg-container">
                    <p><span>Jeśli spodobał Ci się ten produkt - skontaktuj się z nami.</span></p>
                </div>
                {{ merch_form.email.label }}
                {{ merch_form.email }}
                {% if merch_form.email.errors %}
                    {% for error in merch_form.email.errors %}
                        <div class="contact-from-error-container">
                            <span class="fas fa-exclamation-circle"></span>
                            <span class="contact-from-error">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
                {{ merch_form.message.label }}
                {{ merch_form.message(form="product-contact-form", **{'data-length':'1024'}) }}
                {% if merch_form.message.errors %}
                    {% for error in merch_form.message.errors %}
                        <div class="contact-from-error-container">
                            <span class="fas fa-exclamation-circle red-text text-darken-2"></span>
                            <span class="contact-from-error">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}

                {{ form.submit }}
        	</fieldset>
        </form>
    </div>

</section>

{% endblock %}